.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.line {
  height: 6px;
  background: white;
  width: 100%;
  box-shadow: 0 5px 4px #d1d1d1;
  width: 96%;
  margin-right: auto;
  margin-left: auto;
  border: 0px solid #d1d1d1;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.toolbar a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  display: flex;
  padding: 0 1.5em;

}

.toolbar a:hover {
  transition: color .3s;
  color: #4285F4;
  text-decoration: inherit;
}

.toolbar .active {
  color: #4285F4;
}